@import url("file:///C|/Documents and Settings/email user/My Documents/Projects/Clamp Face pg 2/Web pg's for Part #'s and sizes/Vertical/regular/vert-reg-pg.css");
@import url("../../../Site php/vert-reg-pg.css");
#clamp_main {
	height: 600px;
	width: 1024px;
	background-image: url(clamp_background.gif);
	position: absolute;
	left: 0px;
	top: 0px;
}

#clamp_main_vert {
	height: 600px;
	width: 1024px;
	background-image: url(vert-sub-pg.gif);
	position: absolute;
	left: 0px;
	top: 0px;
}

#clamp_main_vert_reg {
	height: 600px;
	width: 1024px;
	background-image: url(vert-sub-reg-pg.gif);
	position: absolute;
	left: 0px;
	top: 0px;
}

#clamp_main_horiz {
	height: 600px;
	width: 1024px;
	background-image: url(horiz-sub-pg.gif);
	position: absolute;
	left: 0px;
	top: 0px;
}

#clamp_main_plung {
	height: 600px;
	width: 1024px;
	background-image: url(plung-sub-pg.gif);
	position: absolute;
	left: 0px;
	top: 0px;
}

#clamp_main_hook {
	height: 600px;
	width: 1024px;
	background-image: url(hook-sub-pg.gif);
	position: absolute;
	left: 0px;
	top: 0px;
}

#h-action {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 215px;
	top: 80px;
	cursor:pointer;
}
#swing-clamps {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 380px;
	top: 80px;
	cursor:pointer;
}
#hook-action {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 50px;
	top: 245px;
	cursor:pointer;
}
#r-action {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 215px;
	top: 245px;
	cursor:pointer;
}
#plier-action {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 380px;
	top: 245px;
}
#plunger-action {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 545px;
	top: 245px;
	cursor:pointer;
}
#locators {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 710px;
	top: 245px;
	cursor:pointer;
}
#a-o-v-clamps {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 50px;
	top: 410px;
	cursor:pointer;
}
#a-o-h-clamps {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 215px;
	top: 410px;
	cursor:pointer;
}
#a-o-p-clamps {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 380px;
	top: 410px;
	cursor:pointer;
}
#toggle-presses {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 545px;
	top: 410px;
	cursor:pointer;
}
#accessories {
	position: absolute;
	height: 151px;
	width: 151px;
	left: 710px;
	top: 410px;
	cursor:pointer;
}
#v-action {
	background-image: url(s);
	height: 151px;
	width: 151px;
	position: absolute;
	left: 50px;
	top: 80px;
	cursor:pointer;
}
#title1 {
	font-family: Calibri, Arial;
	font-size: 27px;
	color: #000;
	position: absolute;
	height: 40px;
	width: 800px;
	left: 50px;
	top: 18px;
}
#title2 {
	font-family: Calibri, Arial;
	font-size: 14px;
	color: #000;
	position: absolute;
	height: 20px;
	width: 300px;
	left: 675px;
	top: 80px;
}
#title-vert-sub {
	font-family: Calibri, Arial;
	font-size: 24px;
	font-weight: normal;
	color: #000;
	position: absolute;
	height: 30px;
	width: 600px;
	left: 50px;
	top: 52px;
}
#avail-sub-pg {
	font-family: Calibri, Arial;
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	height: 25px;
	width: 300px;
	left: 685px;
	top: 530px;
}

#vert-sub-pg-reg a {
	font-family: Calibri, Arial;
	font-size: 24px;
	font-weight: normal;
	position: absolute;
	height: 30px;
	width: 350px;
	left: 90px;
	top: 155px;
	color: #000;
	text-decoration:none;
}

#vert-sub-pg-reg a:hover {
	font-family: Calibri, Arial;
	font-size: 24px;
	font-weight: normal;
	position: absolute;
	height: 30px;
	width: 350px;
	left: 90px;
	top: 155px;
	color: #E43145;
	text-decoration:none;
}

#horiz-sub-pg-mini {
	font-family: Calibri, Arial;
	font-weight: normal;
	font-size:24px;
	position: absolute;
	height: 30px;
	width: 350px;
	left: 90px;
	top:170px;
}

#vert-sub-pg-b-e-s {
	font-family: Calibri, Arial;
	font-size: 24px;
	font-weight: normal;
	position: absolute;
	height: 30px;
	width: 350px;
	left: 90px;
	top: 240px;
	color: #E43145;
}

#horiz-sub-pg-reg {
	font-family: Calibri, Arial;
	font-size: 24px;
	font-weight: normal;
	position: absolute;
	height: 30px;
	width: 350px;
	left: 90px;
	top: 285px;
	color: #E43145;
}

#plung-sub-pg-reg {
	font-family: Calibri, Arial;
	font-size:24px;
	font-weight: normal;
	position: absolute;
	height: 30px;
	width: 350px;
	top:195px;
	color: #000;
	left: 90px;
}


#vert-sub-pg-h-d {
	font-family: Calibri, Arial;
	font-size: 24px;
	font-weight: normal;
	position: absolute;
	height: 30px;
	width: 350px;
	left: 90px;
	top: 325px;
}

#horiz-sub-pg-h-d {
	font-family: Calibri, Arial;
	font-size:24px;
	font-weight: normal;
	position: absolute;
	height: 30px;
	width: 350px;
	left: 90px;
	top:400px;
}

#vert-sub-pg-c-c {
	font-family: Calibri, Arial;
	font-size: 24px;
	font-weight: normal;
	color: #E43145;
	position: absolute;
	height: 30px;
	width: 350px;
	left: 90px;
	top: 410px;
}

#plung-sub-pg-n-m {
	font-family: Calibri, Arial;
	font-size: 24px;
	font-weight: normal;
	color: #E43145;
	position: absolute;
	height: 30px;
	width: 350px;
	left: 90px;
	top: 365px;
}
#vert-reg-htc18 {
	font-family: Calibri, Arial;
	font-size: 24px;
	color: #000;
	position: absolute;
	height: 30px;
	width: 150px;
	left: 210px;
	top: 155px;
}
#vert-reg-htc19 {
	font-family: Calibri, Arial;
	font-size: 24px;
	color: #E43145;
	position: absolute;
	height: 30px;
	width: 150px;
	left: 210px;
	top: 240px;
}
#vert-reg-htc20 {
	font-family: Calibri, Arial;
	font-size: 24px;
	position: absolute;
	height: 30px;
	width: 150px;
	left: 210px;
	top: 325px;
}
#vert-reg-htc30 {
	font-family: Calibri, Arial;
	font-size: 24px;
	position: absolute;
	height: 30px;
	width: 150px;
	left: 210px;
	top: 410px;
	color: #E43145;
}
#vert-reg-htc40 {
	font-family: Calibri, Arial;
	font-size: 24px;
	position: absolute;
	height: 30px;
	width: 150px;
	left: 565px;
	top: 155px;
}
#vert-reg-htc1 {
	font-family: Calibri, Arial;
	font-size: 24px;
	position: absolute;
	height: 30px;
	width: 150px;
	left: 565px;
	top: 240px;
}