@charset "utf-8";
/* CSS Document */

h1 {font-weight: bold;
    font-family: Calibri, Arial;}
	
a {font-weight: bold;
   text-decoration: none;
   font-family: Calibri, Arial;
   font-size: xx-large;}

a:link { color: #C00;}

a:visited {
	color: #C00;
	cursor: pointer;
}

a:hover {text-decoration: none;
         color: #09F;}
		 
a:active {color: #666}
#button {
	cursor: pointer;
}
