
.ui-autocomplete { 
    z-index: 1000; 
    position: absolute; 
    overflow: visible; 
}
.ui-autocomplete.ui-widget {
    font-family: Rajdhani, Verdana, sans-serif;
    font-size: 18px;
  }
/*
  .autocomplete_CompletionListElement
{
    margin: 0px;
    background-color: White;
    cursor: default;
    overflow-y: auto;
    overflow-x: hidden;
    height:180px;
    text-align: left;
    border: 1px solid #777;
    z-index:10000;
}

#scscpq_search_results {
    font-family: Rajdhani, Verdana ,sans-serif;
    font-size: 20px; 
    line-height: 1em;

}
*/
