







.center {

	text-align: center;

}



.half {

	float: left;

	margin-right: 2%;

	width: 48%;

}



.section-title {

	color: #252525;

	font-family: "Rajdhani",sans-serif;

	font-size: 40px;

	font-weight: 600;

	margin-bottom: 30px;

}



.section-subtitle {

	color: #e41e38;

	font-family: "Oswald",sans-serif;

	font-size: 20px;

	margin-bottom: 15px;

}



.section-text {

	line-height: 1.5;

    margin-bottom: 30px;

}



ul.section-text {



}



ul.section-text li {

	line-height: 1.5;

	margin-bottom: 10px;

	position: relative;

	margin-left: 20px;

}



ul.section-text li .slashes {

	color: #e41e38;

    font-weight: 600;

    margin-right: 5px;

		position: absolute;

		left: -20px;

}



.wrapper {

	display: inline-block;

	float: left;

	width: 100%;

}



/*-------------------------------------------

|          Landing Page Header

---------------------------------------------*/



#landing-header .left-header {

	min-height: 106px;

}



#landing-header .right-header .text {

	color: #aaa;

	padding-top: 14px;

}



#landing-header .right-header .text img {

	float: left;

	margin-right: 10px;

	margin-top: 1px;

}



#landing-header .right-header .text a {

	color: #FFF;

}



#landing-header .right-header .top {

	float: left;

}



#landing-header .right-header .bottom {

    height: 58px;

	float: left;

}



#landing-header .right-header .bottom nav {

	float: right;

}



#landing-header .right-header .bottom .red-button {

	float: right;

    margin-left: 30px;

    margin-top: 11px;

    min-width: 105px;

}



#landing-header #nav li {

	margin-left: 25px;

	padding-top: 16px;

}



.red-button {

	background-color: #dc2536;

	border: none;

    border-radius: 3px;

    color: #aaa;

    cursor: pointer;

	display: inline-block;

    font-size: 15px;

    font-weight: 600;

    height: 33px;

    line-height: 29px;

    padding: 0 15px;

    text-align: center;

}

.red-button:hover{

	color: #fff;

}



.red-button:hover, .red-button-big:hover{

	background-color: #e41e38;

	color: #fff;

}



.red-button-big {

	background-color: #dc2536;

	border: none;

    border-radius: 3px;

    color: #aaaaaa;

	display: inline-block;

    font-size: 18px;

    font-weight: 600;

    height: 66px;

    line-height: 60px;

    padding: 0 25px;

    text-align: center;

}



.right-header .top, .right-header .bottom  {

	background: #252525; /* Old browsers */

	background: -moz-linear-gradient(left,  #333333 0%, #252525 80px); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#333333), color-stop(80px,#252525)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(left,  #333333 0%,#252525 80px); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(left,  #333333 0%,#252525 80px); /* Opera 11.10+ */

	background: -ms-linear-gradient(left,  #333333 0%,#252525 80px); /* IE10+ */

	background: linear-gradient(to right,  #333333 0%,#252525 80px); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#252525',GradientType=1 ); /* IE6-9 */	

}





/*-------------------------------------------

|          Landing Page Main

---------------------------------------------*/



#banner-wrapper {

	background-color: #b73636;

	background-image: url("../images/red-banner.jpg");

    background-position: center top;

    background-repeat: no-repeat;

    display: inline-block;

    float: left;

    height: 560px;

	text-align: center;

    width: 100%;

}



#banner-wrapper h1 {

	color: #fff;

    font-family: "Rajdhani",sans-serif;

    font-size: 90px;

    font-weight: bold;

    line-height: 1;

    margin-top: 90px;

}



#banner-wrapper h1 span{

	font-size: 70%;

}



#banner-wrapper p {

	color: #fff;

    font-size: 28px;

    line-height: 1.2;

    margin-bottom: 25px;

    margin-top: 15px;

}



#banner-wrapper .become-user {

	background-color: #252525;

    border-radius: 5px;

    color: #bdbdbd;

    display: inline-block;

    font-size: 22px;

    font-weight: bold;

    height: 85px;

	line-height: 1;

    padding: 14px 25px;

}



#banner-wrapper .become-user:hover, #banner-wrapper .become-user:hover span  {

	color: #fff;

}



#banner-wrapper .become-user span {

	color: #bdbdbd;

    display: inline-block;

    font-size: 20px;

}/*

#banner-wrapper .become-user span:hover {

	color: #fff

}*/



#landing-main-wrapper {

	background-color: #252525;

	background-image: url("../images/landing-main-bg.png");

    background-position: center top;

    background-repeat: no-repeat;

	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);

	display: inline-block;

	float: left;

	width: 100%;

}



#landing-main-wrapper .container {

	margin-bottom: 60px;

    margin-top: 58px;

	overflow: hidden;

	max-width: 960px;

	width: 960px;

}



#landing-main-wrapper .home-product {

	border-radius: 5px;

    float: left;

    height: 355px;

    margin: 0 10px;

    overflow: hidden;

	position: relative;

    width: 300px;

}



#landing-main-wrapper .home-product .image {

	height: 297px;

    width: 100%;

}



#landing-main-wrapper .home-product .name {

	background-color: #1c1c1c;

    border: 1px solid #141414;

    border-radius: 0 0 5px 5px;

    color: #bdbdbd;

    cursor: pointer;

    font-family: "Rajdhani",sans-serif;

    font-size: 22px;

    font-weight: bold;

    height: 58px;

    line-height: 58px;

    padding-left: 16px;

    position: relative;

	text-align: left;

    text-transform: uppercase;

    z-index: 2;

}



#landing-main-wrapper .home-product .name:hover{

	color: #fff;

}



#landing-main-wrapper .home-product .name:after {

	content: "";

	background-image: url('../images/arrow-up-red.png');

	right: 19px;

	top: 24px;

	height: 10px;

    position: absolute;

    width: 18px;

}



#landing-main-wrapper .home-product .description {

	background-color: rgba(0, 0, 0, 0.8);

    color: #fff;

    font-size: 14px;

    height: 297px;

    padding: 25px 20px;

    position: absolute;

	text-align: left;

    top: 297px;

	-webkit-transition: all 0.5s ease-in-out;

	-moz-transition: all 0.5s ease-in-out;

	-o-transition: all 0.5s ease-in-out;

	transition: all 0.5s ease-in-out;

}



#landing-main-wrapper .home-product.open  .description{

	top: 0;

}



#landing-main-wrapper .home-product.open  .name{

	color: #fff;

}



#landing-main-wrapper .home-product.open  .name:after {

	background-image: url('../images/arrow-down-red.png');

}





/*-------------------------------------------

|          Landing Page Footer

---------------------------------------------*/



#footer-wrapper {

	background-color: #252525;

	background-image: url('../images/footer-bg.png');

	display: inline-block;

    float: left;

    min-height: 337px;

    width: 100%;

}



#footer-wrapper .container {

	margin-top: 30px;

}



#footer-wrapper .footer-left {

	float: left;

	/*width: 241px;*/

	width: 26%;

}



#footer-wrapper .footer-left .text {

	background-color: #141414;

    border-radius: 5px;

    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.15);

    color: #aaa;

	display: inline-block;

	font-size: 13px;

    padding: 15px;

}

#footer-wrapper .footer-left .text a {

	color: #FFF;

}



#footer-wrapper .footer-left .text span {

	display: inline-block;

    float: left;

    width: 177px;

}



#footer-wrapper .footer-left .text img {

	float: left;

    margin-right: 15px;

    margin-top: 8px;

}



#footer-wrapper .footer-left .links {

	color: #e2e2e2;

    display: inline-block;

    float: left;

    margin-top: 23px;

    width: 100%;

}

#footer-wrapper .links {
 margin:0 0 8px 0
}



#footer-wrapper .footer-left .links a {

	color: #e2e2e2;

	float:left;

}



#footer-wrapper .footer-left .links span {

	float: left;

	margin: 0 10px;

}



#footer-wrapper .footer-left .copyright {

	color: #8a8a8a;

    display: inline-block;

    font-size: 12px;

    font-weight: 100;

    line-height: 1.4;

    margin-top: 5px;

    width: 100%;

}



#footer-wrapper .footer-right {

	float: right;

	/*width: 640px;*/

	width: 68%;

}



#footer-wrapper .footer-right .section-area {

	float: left;

	margin-top: -5px;

    width: 33.3%;

}



#footer-wrapper .footer-right .section-area .section {

	color: #e2e2e2;

    margin-bottom: 12px;

    width: 100%;

}



#footer-wrapper .footer-right .section-area .section .title {

	font-weight: 600;

}



#footer-wrapper .footer-right .section-area .section .subtitle {

	font-size: 13px;

    font-weight: 100;

}



#footer-wrapper .footer-right .section-area .section .subtitle a {

	color: #e2e2e2;

}



#footer-wrapper h1 {

	color: #e41e38;

	font-family: 'Oswald', sans-serif;

	font-size: 18px;

	margin-bottom: 22px;

	text-transform: uppercase;

}



/*-------------------------------------------

|          Contact Page

---------------------------------------------*/



#main-wrapper {

	background-image: url("../images/pattern-bg.png");

    display: inline-block;

    float: left;

    /*min-height: 800px;*/

    overflow: hidden;

    position: relative;

    width: 100%;

}



#main-wrapper .outerContainer {

	position: relative;

	z-index: 2;

}



#main-wrapper-bg {

	background-image: url("../images/main-bg.png");

    background-position: center top;

    background-repeat: no-repeat;

    height: 1600px;

    left: 0;

    position: absolute;

    right: 0;

}



.page-title {

	border-bottom: 1px solid #787576;

    color: #cfcfd1;

    font-family: "Rajdhani",sans-serif;

    font-size: 30px;

    font-weight: bold;

    margin-top: 30px;

    padding-bottom: 5px;

    text-transform: uppercase;

}



.page-subtitle {

	color: #fff;

    font-family: "Rajdhani",sans-serif;

    font-size: 40px;

    font-weight: 600;

    margin-top: 40px;

}



#regions-wrapper {

	display: inline-block;

    float: left;

    margin-bottom: 20px;

    width: 100%;

}



.regions {

	display: inline-block;

    float: left;

    margin-top: 25px;

    width: 100%;

}



.regions-left {

	color: #fff;

    float: left;

    font-family: "Rajdhani",sans-serif;

    font-size: 40px;

    font-weight: 600;

    margin-right: 80px;

    margin-top: 20px;

}



.regions-flags{

	float: left;

}



.regions-flags img {

	float: left;

    margin: 0 5px;

}



#us-region-wrapper {

	background-color: #252525;

}



.region-wrapper {

	display: inline-block;

    float: left;

	padding: 60px 0;

    position: relative;

    width: 100%;

}



.region-wrapper .region-left {

	float: left;

    width: 300px;

}



.region-wrapper .region-left .center {

	width: 268px;

}



.region-wrapper .region-left h2 {

	color: #fff;

    font-family: "Oswald";

    font-size: 20px;

    margin-bottom: 15px;

}



.region-zone {

	margin-bottom: 15px;

    width: 100%;

}



.region-zone.half {

	float: left;

	margin-right: 2%;

	width: 48%;

}



.region-zone .label {

	color: #e41e38;

    font-weight: bold;

    margin-bottom: 3px;

}



.region-zone .description {

	color: #FFF;

	font-size: 14px;

}



.region-zone .description a {

	color: #FFF;

	text-decoration: underline;

}



.region-wrapper .region-left .red-button {

	font-size: 18px;

    font-weight: 600;

    height: 66px;

    line-height: 60px;

    margin-bottom: 5px;

    margin-top: 22px;

    padding: 0 40px;

}



.region-wrapper .region-left .red-link {

	color: #e41e38;

    font-size: 12px;

    text-decoration: underline;

}



.region-wrapper .region-left .flag {

	margin-top: 38px;

}



.region-wrapper .region-map {

	float: right;

}



#uk-region-wrapper {

	background-image: url("../images/pattern2.png");

}



#ue-region-wrapper {

	background-color: #252525;

}



#ue-region-wrapper .red-button {

	margin-top: 15px;

}



#ue-region-wrapper .flag {

	margin-top: 25px;

}





/*-------------------------------------------

|          Contact Page

---------------------------------------------*/



#company-wrapper #main-wrapper {

	min-height: 340px;

	padding-bottom: 60px;

}



#company-red-wrapper {

	background-image: url("../images/pattern-red.png");

    display: inline-block;

    float: left;

    height: 309px;

    position: relative;

    width: 100%;

}



#company-red-wrapper .outerContainer {

	position: relative;

}



.red-pattern {

	

}



#company-red-wrapper-bg {

	background-image: url("../images/company-red-wrapper-bg.png");

	background-position: center top;

    background-repeat: no-repeat;

	left: 0;

    position: absolute;

    right: 0;

    height: 309px;

}





#company-wrapper .grayP.half:last-of-type{

		padding-left: 10px;

}



#company-red-wrapper .left-text {

	float: left;

    margin: 40px 0;

    width: 370px;

}



#company-red-wrapper .left-text p {

	color: #fff;

    font-size: 18px;

    font-style: italic;

    font-weight: normal;

    margin-bottom: 25px;

}



#company-red-wrapper .right-image {

	float: right;

	width: 540px;

}



#company-red-wrapper .right-image img {

	margin-top: -69px;

}



#company-wrapper  #gray-banner {

	background-image: url("../images/gray-bg.png");

    display: inline-block;

    float: left;

	min-height: 157px;

    margin: 0 auto;

    text-align: center;

    width: 100%;

}



#company-wrapper  #gray-banner p {

	color: #252525;

    font-size: 18px;

    margin-bottom: 30px;

    margin-top: 37px;

}



#company-wrapper  #gray-banner .red-button-big {

	border-radius: 5px 5px 0 0;

    height: auto;

    line-height: 1.2;

    padding: 22px 25px;

    text-transform: uppercase;

}



#advantage-wrapper {

	background-color: #fff;

    padding-top: 35px;

}



#advantage-wrapper .advantage-left {

	float: left;

    width: 320px;

}



#advantage-wrapper .advantage-left img {

	float: left;

}



#advantage-wrapper .advantage-right {

	float: right;

    margin-top: 20px;

    width: 590px;

	

}



.black-pattern-bg {

	background-image: url("../images/pattern-bg.png");

}



.black-bg {

	background-image: url("../images/black-bg.png");

    background-position: center -120px;

    background-repeat: no-repeat;

    height: 100%;

    left: 0;

    position: absolute;

    right: 0;

}





#black-banner {

	min-height: 175px;

    overflow: hidden;

    position: relative;

    text-align: center;

}



#black-banner .outerContainer {

	position: relative;

}



#black-banner p {

	color: #fff;

    font-size: 20px;

    line-height: 1.6;

    margin: 40px 0;

		font-style: italic;

}



#black-banner p:nth-of-type(1){ margin-bottom: 0; }

#black-banner p:nth-of-type(2){ margin-top: 0; }



#why-wrapper {

	background-color: #fff;

}



.why-left {

	float: left;

    margin-top: 70px;

    width: 510px;

}



.why-right {

	float: right;

	width: 410px;

}



.why-right img {

	float: left;

}



#testimonials-red-wrapper-bg {

	background-image: url("../images/testimonials-bg.png");

	background-position: center top;

    background-repeat: no-repeat;

	left: 0;

    position: absolute;

    right: 0;

	height: 336px;

}



#testimonials-wrapper {

	background-image: url("../images/testimonials-red-pattern.png");

	height: 336px;

}



#testimonials {

	background-color: transparent;

    border: medium none;

    box-shadow: none;

    color: #fff;

    margin: 0 0 50px;

    padding: 0 5% !important;

    text-align: center;

    width: 100%;

}



#testimonials .flex-direction-nav a{

	top:23%;

}



#testimonials .title {

	font-size: 40px;

	font-family: "Rajdhani", sans-serif;

	font-weight: 600;

	margin-top: 60px;

}



#testimonials p {

	line-height: 1.4;

}



#testimonials .text {

	font-size: 22px;

	margin-bottom: 10px;

    margin-top: 30px;

}



#testimonials .name {

	font-size: 22px;

	font-weight: bold;

}



#testimonials .flex-control-nav {

	display: none;

}



#testimonials .slides > li {

	min-height: 336px;

    padding-bottom: 50px;

}



#testimonials .flex-direction-nav a.flex-next:before {

	background-image: url("../images/arrow-right-red.png");

}



#testimonials .flex-direction-nav a:before {

	background-image: url("../images/arrow-left-red.png");

    color: transparent;

    content: "";

    height: 32px;

    width: 19px;

}



#testimonials .flex-direction-nav .flex-prev {

	left: 0;

}



#testimonials .flex-direction-nav .flex-next {

	right: 0;

}



#testimonials .flex-direction-nav a {

	height: 32px;

    opacity: 1;

    width: 19px;

}



#specialists-wrapper {

	background-color: #252525;

}



#specialists-wrapper .container {

	position: relative;

}



.specialists-left {

	float: right;

    margin-right: 50%;

		overflow-x:hidden;

}

.specialists-left img {

	float: left;

	margin-right: -100px;

}



.specialists-right {

	color: #FFF;

	float: right;

    margin-bottom: -375px;

    margin-top: 70px;

    width: 410px;

}



.specialists-right .section-subtitle {

	color: #FFF;

}



.specialists-right .red-button-big {

	line-height: 66px;

    text-transform: uppercase;

}











/*-------------------------------------------

|          Responsive Css

---------------------------------------------*/



@media(max-width: 1024px) {

	#banner-wrapper h1 {

		font-size: 62px;

	}

	

	#landing-main-wrapper .container {

		padding: 0 2%;

		text-align: center;

		width: 100%;

	}

	

	#landing-main-wrapper .home-product {

		display: inline-block;

		float: none;

		margin-bottom: 20px;

	}



	#footer-wrapper .footer-left {

		/*margin-bottom: 30px;*/

		padding: 0 2%;

		width: 280px;

		margin: 0 auto 30px;

        float: none;

	}

	

	#footer-wrapper .footer-right {

		width: 100%;

		padding: 0 2%;

	}

	

	.region-wrapper .region-map {

		float: left;

		margin-top: 25px;

	}

	

	.regions-flags {

		margin-left: -5px;

	}

	

	#company-red-wrapper .right-image {

		text-align: center;

		width: 100%;

	}

	

	#company-red-wrapper .left-text {

		text-align: center;

		width: 100%;

	}

	

	#company-red-wrapper {

		height: auto;

	}

	

	#company-red-wrapper-bg {

		background-image: none;

	}

	

	#advantage-wrapper .advantage-right {

		width: 100%;

	}

	

	#advantage-wrapper .advantage-left {

        /* float: left; */

        width: 100%;

        text-align: center;

    }

    

    #advantage-wrapper .advantage-left img{

        float: none;

        margin: 0 auto -5px;

    }

	

	.why-right {

		float: left;

	}

	

	.specialists-left {

		float: right;

		margin: 0;

		width: 100%;

	}

	

	.specialists-left img {

		max-width: 100%;

	}

	

	.specialists-right {

		float: none;

        margin: 50px auto;

        text-align: center;

	}

}



@media(max-width: 680px) {

	#banner-wrapper h1 {

		font-size: 50px;

	}

	

	#banner-wrapper p {

		font-size: 22px;

		margin-top: 35px;

		margin-bottom: 45px;

	}

	

	#footer-wrapper {

		text-align: center;

	}

	

	#footer-wrapper .footer-right .section-area {

		width: 100%;

		margin-bottom: 25px;

	}

	

	#footer-wrapper .footer-left {

		width: 100%;

	}

	

	#footer-wrapper .footer-left .links a, #footer-wrapper .footer-left .links span {

		float: none;

	}

	

	.page-title {

		text-align: center;

	}

	

	.regions-flags {

		margin-left: 0;

		text-align: center;

		width: 100%;

	}

	

	.regions-flags img {

		float: none;

	}

	

	.region-wrapper .region-left {

		text-align: center;

		width: 100%;

	}

	

	.regions-left {

		margin-right: 0;

		margin-bottom: 15px;

		text-align: center;

		width: 100%;

	}

	

	.region-wrapper .region-left .center {

		width: 100%;

	}

	

	.region-zone.half {

		margin: 0;

		width: 100%;

	}

	

	.region-wrapper .region-map, .region-wrapper .region-map iframe {

		width: 100%;

	}

	

	.half {

		margin-right: 0;

		text-align: center;

		width: 100%;

	}

	

	#company-wrapper .grayP.half:last-of-type{

		padding-left: 0px;

	}

	

	.page-subtitle {

		text-align: center;

	}

	

	#advantage-wrapper .advantage-right, #advantage-wrapper .advantage-left {

		text-align: center;

		width: 100%;

	}

	

	#advantage-wrapper .advantage-left img {

		float: none;

		margin-bottom: -4px;

	}

	

	.why-left, .why-right {

		text-align: center;

		width: 100%;

	}

	

	.why-right img {

		float: none;

		margin-bottom: -4px;

		max-width: 100%;

	}

	

	.specialists-right {

		text-align: center;

		width: 100%;

	}



}



@media(max-width: 580px) {

	#company-red-wrapper .right-image img {

		max-width: 100%;

		margin-top: -12.8%;

	}

}



@media(max-width: 550px) {

	#banner-wrapper h1 {

		font-size: 40px;

		margin-top: 120px;

	}

	

	#banner-wrapper p {

		font-size: 18px;

	}

	

	#footer-wrapper {

		text-align: center;

	}

}



@media(max-width: 510px) {

	#testimonials-wrapper{

		height: 370px;

	}

	#testimonials-red-wrapper-bg{

		background-image: none;

	}

}



@media(max-width: 440px) {

	#banner-wrapper h1 {

		font-size: 28px;

		margin-top: 120px;

	}

	

	#banner-wrapper p {

		font-size: 14px;

	}

}






.clear {clear:both}


.centerContainer {width:980px; position:relative; height:107px; margin:0 auto}

.rsocial {position:absolute; bottom:-29px; right:20px; height:29px; background:#db2537; overflow:hidden;  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  -webkit-box-shadow:  1px 1px 1px rgba(0,0,0,.3);
  box-shadow:  1px 1px 1px rgba(0,0,0,.3); z-index:1000}
.rsocial .shareproject {float:left; padding-left:15px; padding-right:15px; text-align:center}
.rsocial .shareproject span.shareprojectspan {color:#fff; font-weight:bold; font-size:12px; line-height:29px; cursor:default}
.rsocialshare {background:#1c1c1c; height:100%; float:left}
.rsocialshare a {float:left; width:30px; height:29px; display:block; background-position:50% 50%; background-repeat:no-repeat}
.rsocialshare a.rsocial-f {background-image:url(../images/social-f.png); width:30px}
.rsocialshare a.rsocial-t {background-image:url(../images/social-t.png)}
.rsocialshare a.rsocial-g {background-image:url(../images/social-g.png)}
.rsocialshare a:hover {background-color:#292929}

@media(max-width: 1024px) {
.centerContainer {width:100%; height:auto}
}

@media(max-width: 850px) {
.rsocial {bottom:-74px}
}


@media(max-width: 630px) {
.rsocial {bottom:-29px; right:50%; margin-right:-77px}
}








#footer-wrapper {min-height:380px; background-repeat:repeat-x; background-image: url('../images/footer-bg2.png')}
#socialfooter {text-align:right; font-size:0; clear:both; padding-top:62px}
#socialfooter a {display:inline-block; vertical-align:top; margin-left:30px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: .5; -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;}
#socialfooter a:hover {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: .7}

#socialfooter a:nth-child(2) {margin-left:35px}

@media(max-width: 1024px) {
#footer-wrapper {background-repeat:repeat}
#socialfooter {padding-top:40px}

	#socialfooter {text-align:center}
	#socialfooter a {margin-left:15px; margin-right:15px}
	#socialfooter a:nth-child(2) {margin-left:18px}
}

@media(max-width: 510px) {
#socialfooter {padding-top:10px}
}

