@charset "utf-8";
/* CSS Document */

body {
	font-family: Calibri, Arial;
    font-size: 12px;
	background-color: White;
	color: Black;
    margin: 0px;
}



.large  {font-size: 14px;}
.standard  {font-size: 12px;}
.small {font-size: 10px;}
.nobr {white-space: nowrap;}

.center {text-align: center;}
.right  {text-align: right;}
.left   {text-align: left;}

table.border {
	width: 100%;
	border: 1px #033598 solid;
	border-collapse: collapse;
}
table.border th {
	border: 1px #033598 solid;
	padding: 2px;
	background: #dddddd;
	vertical-align: bottom;
	text-align: center;
}
table.border td {
	border: 1px #033598 solid;
	padding: 2px;
	vertical-align: top;
}

table.noborder {
	width: 100%;
	border: 0px;
}
table.noborder th {
	padding: 2px;
	vertical-align: bottom;
	text-align: center;
}
table.noborder td {
	padding: 2px;
	vertical-align: top;
}

table.catalog { width: 100%; border: 1px #033598 solid; border-collapse: collapse; }
table.catalog th { border: 1px #033598 solid; padding: 2px; background: #dddddd; vertical-align: bottom; text-align: center; }
table.catalog td { border: 1px #033598 solid; padding: 2px; vertical-align: top; }
table.catalog tr:hover {background: #f8f996; }

input.fbutton {
	font-family: Verdana, sans-serif;
    font-size: 10pt;
    color: #000000;
    background: #DEE7EC;
    text-align: center;
    border: 1px #273A87 solid;
	cursor: hand;
}

input, textarea, select {
	font-family: Verdana, sans-serif;
    font-size: 10pt;
    color: #000000;
    background: #dee7ec;
}
input.nav_inactive {
	font-family: Verdana, sans-serif;
    font-size: 10pt;
    color: #555555;
    background: #dee7ec;
}

tr.bottom a {
	text-decoration:none;
	background-color:transparent;
	font-family:Calibri, Arial;
	color:#999;
	font-size:10px;
	text-shadow:none;
	background:none;
}

tr.bottom a:link {
	background-color:transparent;
	text-shadow:none;
	background:none;
}

tr.bottom a:hover {
	color:#000;
}

tr.bottom a:active {
	color: #333;
}

.header {
	font-family: Calibri, Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000;
	text-decoration: none;
	float: left;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.home {
	background-color: transparent;
	text-align: right;
	vertical-align: baseline;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px 2px 0px 0px;
	float:left;
}

.menu a {
	background-color: #CCC;
	text-align: right;
	vertical-align: baseline;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px 2px 0px 0px;
	float:left;
	font-family:Calibri, Arial;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}

.menu a:link {
	background-color: #CCC;
	text-align: right;
	vertical-align: baseline;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px 2px 0px 0px;
	float:left;
}

.menu a:hover {
	background-color: #E43145;
}

.menu a:active {
	background-color:#666;
}

.menuhome a {
	background-color: #999;
	background-image:url(/images/fade_background.jpg);
	text-align: right;
	vertical-align: baseline;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px 2px 0px 0px;
	float:left;
	font-family:Calibri, Arial;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}

.menuhome a:link {
	background-color: #999;
	background-image:url(/images/fade_background.jpg);
	text-align: right;
	vertical-align: baseline;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px 2px 0px 0px;
	float:left;
}

.menuhome a:hover {
	background-color: #666;
	background-image:none;
}

.menuhome a:active {
	background-color: #333;
}
.search_text {
	position: absolute;
	top: 35px;
    left: 720px;
	height: 16px;
	width: 180px;
}
.search_image {
	position: absolute;
	top: 33px;
	left: 910px;
	height: 25px;
	width: 77px;
	border: none;
}

iframe {
	scrolling: no;
}