@import 'compass';

/* Variables and Classes ================================================================================================ */
$headerfont:'Rajdhani', sans-serif;
$headerfont2:'Oswald', sans-serif;
$readfont:'Open Sans', sans-serif;

$blue:#2867ad;
$green:#6fba30;
$red1:#e41e38;
$red2:#6b1f1f;

$desktop-1920:1920px;
$desktop-1680:1890px;
$desktop-1440:1650px;
$desktop-1366:1410px;
$desktop-1280:1336px;
$desktop-1024:1250px;
$mobile1:1260px;
$mobile2:1012px;
$mobile3:767px;

.clearafter {content:''; display:block; clear:both}
.vcenter {position:relative; top:50%; @include transform(translateY(-50%))}
.backface {-webkit-backface-visibility:hidden; backface-visibility:hidden}