/* Variables and Classes ================================================================================================ */
.clearafter {
  content: '';
  display: block;
  clear: both;
}

.vcenter {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.backface {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Reset ================================================================================================ */
a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, small, span, strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, div, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

html, body {
  height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

input {
  -webkit-appearance: none;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

/* Globals ================================================================================================ */
body {
  background: #fff;
}

body, #sitewrap p, #sitewrap a, #sitewrap li, #sitewrap input, #sitewrap textarea, #sitewrap div {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #252525;
  line-height: 23px;
}

#sitewrap p {
  padding-bottom: 18px;
}

#sitewrap h1, #sitewrap h2, #sitewrap h3, #sitewrap h4, #sitewrap h5, #sitewrap h6 {
  font-family: "Rajdhani", sans-serif;
  line-height: normal;
  letter-spacing: 0 !important;
}

#sitewrap a {
  color: #e41e38;
  font-weight: bold;
}

#sitewrap a:hover {
  color: #e94c60;
  text-decoration: underline;
}

#sitewrap a, #sitewrap input, #sitewrap textarea, #sitewrap button {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#sitewrap input:focus, #sitewrap textarea:focus {
  border: 1px solid #bbb;
  background: #fff;
}

/*li {list-style-image:url(../images/bullet.png)}*/
#sitewrap ol, #sitewrap ul {
  padding-bottom: 20px;
}

#sitewrap ul li {
  list-style: disc;
  margin-left: 35px;
}

#sitewrap ol li {
  list-style: decimal;
  margin-left: 35px;
}

#sitewrap input, #sitewrap textarea {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#fancybox-overlay {
  background: rgba(228, 30, 56, 0.8) !important;
}

.fancybox-outer {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0;
  border-radius: 0 !important;
  background: #e41e38 !important;
}

.d7h4jf94h {
  display: none;
}

/*hide bot trap form field */
#sitewrap .clear {
  clear: both;
  font-size: 0;
  line-height: 0;
}

#sitewrap .hidden {
  display: none;
}

/*hide until mobile*/
#sitewrap .hum {
  display: none !important;
}

@media screen and (max-width: 1012px) {
  /*mobile hide*/
  #sitewrap .mh {
    display: none !important;
  }

  #sitewrap .hum {
    display: block !important;
  }

  #sitewrap ul, #sitewrap ol {
    padding-left: 8%;
  }

  #sitewrap ul li, #sitewrap ol li {
    text-align: left;
    margin-left: 0;
  }
}
/* Site ================================================================================================ */
.sitewidth {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1260px) {
  .sitewidth {
    width: 970px;
  }
}
@media screen and (max-width: 1012px) {
  .sitewidth {
    width: 90%;
    margin: 0 auto;
  }
}
/* Product Header ================================================================================================ */
#productheader {
  background: url(../images/headerbg.jpg) center 20%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 40px;
  font-size: 0;
  position: relative;
}

#productheader:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: url(../images/bggradient.png);
  background-size: 100% 100%;
}

#productheader:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: url(../images/bggradient2.png) center top no-repeat;
}

#productheader h1 {
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1012px) {
  #productheader h1 {
    font-size: 45px;
    line-height: 45px;
  }
}
/* Top Images ================================================================================================ */
#topimgs {
  padding-top: 60px;
  padding-bottom: 60px;
}

#topimgs .sitewidth {
  text-align: center;
  font-size: 0;
}

#topimgs img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 1012px) {
  #topimgs {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #topimgs img {
    width: auto;
    max-width: 90%;
    margin-bottom: 20px;
    vertical-align: top;
  }

  #topimgs img:last-child {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  #topimgs img {
    margin-left: 0;
    margin-right: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
/* Content Navigation ================================================================================================ */
#contentnav {
  background: url(../images/pattern1.png);
  height: 80px;
  text-align: left;
  font-size: 0;
}

#contentnav a {
  background: #6b1f1f;
  -moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  color: #fff !important;
  font-family: "Rajdhani", sans-serif;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: 600;
  font-size: 26px;
  padding-left: 17px;
  padding-right: 17px;
  margin-right: 5px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  text-decoration: none !important;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

#contentnav a:hover {
  background: #7f2525;
}

#contentnav a.tabactive {
  color: #000 !important;
  background: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media screen and (max-width: 1012px) {
  #contentnav {
    height: auto;
    padding-bottom: 15px;
    text-align: center;
  }

  #contentnav a {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: auto;
    line-height: 28px;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 15px;
    margin-right: 2.5px;
    margin-left: 2.5px;
  }
}
/* Content  ================================================================================================ */
.contentbox {
  display: none;
}

#tab-1 {
  display: block;
}

#tab-2 section, #tab-3 section {
  border-bottom: 0 !important;
}

.contentboxactive {
  display: block;
}

.contentbox section {
  padding-top: 50px;
  padding-bottom: 45px;
  border-bottom: 1px solid #e3e3e3;
}

.contentbox h2 {
  color: #e41e38;
  font-family: "Oswald", sans-serif !important;
  font-size: 26px;
  padding-bottom: 20px;
}

.contentbox h2.exclamation {
  position: relative;
  padding-left: 53px;
}

.contentbox h2.exclamation:before {
  content: '!';
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  text-align: center;
  display: block;
  background: #e41e38;
  position: absolute;
  top: 0;
  left: 0;
}

.contentbox .imgcontainer {
  text-align: center;
  font-size: 0;
}

.contentbox section img {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

#tab-2 table {
  width: 100%;
  border-collapse: collapse;
}

#tab-2 table {
  border: 6px solid #e3e3e3;
}

#tab-2 table th, #tab-2 table td {
  border: 1px solid #e3e3e3;
}

#tab-2 table thead tr {
  background: #3f464a;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
}

#tab-2 table thead tr th {
  padding: 13px 2px 13px 2px;
  vertical-align: middle;
}

#tab-2 table thead tr th input[type=checkbox] {
  width: 13px;
  height: 13px;
  display: block;
  margin: 0 auto;
  margin-top: 3px;
  -webkit-appearance: checkbox;
  border: 1px solid #252525;
  background: #fff;
}

#tab-2 table tbody tr {
  background: #e3e3e3;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#tab-2 table tbody tr td {
  border-color: #eeeeee;
  border-bottom: 1px solid #fff !important;
}

#tab-2 table tbody tr:nth-of-type(odd) {
  background: #f6f6f6;
}

#tab-2 table tbody tr:nth-of-type(odd) td {
  border-color: #fff;
  border-bottom: 1px solid #fff !important;
}

#tab-2 table tbody tr:hover {
  background: #dfebf7 !important;
}

#tab-2 table tbody tr:hover td {
  border-color: #fff !important;
}

#tab-2 table td {
  text-align: center;
  font-size: 14px;
  padding: 5px;
  line-height: 16px;
  vertical-align: middle;
}

#tab-2 table td img {
  margin: 0;
  vertical-align: middle;
}

#tab-2 table td input[type=text] {
  background: #fff;
  width: auto;
  display: inline-block;
  text-align: center;
  width: 31px;
  font-size: 13px;
  margin: 0;
  padding: 0;
  border: 1px solid #252525;
  height: 20px;
  line-height: 20px;
}

#tab-2 table td a {
  font-weight: 400;
  color: #252525;
  line-height: 16px;
  font-size: 14px;
}

#tab-2 table .addtocart {
  display: inline-block;
  width: 26px;
  height: 20px;
  position: relative;
  vertical-align: middle;
}

#tab-2 table .addtocart img {
  position: absolute;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tab-2 table .addtocart img:nth-child(2) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

#tab-2 table .addtocart:hover img:nth-child(1) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

#tab-2 table .addtocart:hover img:nth-child(2) {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#tab-2 table .caddownload {
  display: inline-block;
  width: 15px;
  height: 16px;
  position: relative;
  vertical-align: middle;
}

#tab-2 table .caddownload img {
  position: absolute;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tab-2 table .caddownload img:nth-child(2) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

#tab-2 table .caddownload:hover img:nth-child(1) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

#tab-2 table .caddownload:hover img:nth-child(2) {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#tab-2 table .tdropdown div {
  text-align: center;
  font-size: 0;
}

#tab-2 table .tdropdown select, #tab-2 table .tdropdown a.caddownload {
  display: inline-block;
  vertical-align: middle;
}

#tab-2 table .tdropdown select {
  font-size: 12px;
  border: 1px solid #252525;
  background: #fff;
}

.tdropdown a.caddownload {
  margin-top: 1px;
}

@media screen and (max-width: 1260px) {
  .contentbox section {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1012px) {
  .contentbox section img {
    width: auto;
    max-width: 90%;
  }

  #tab-2 table thead {
    display: none;
    text-align: center;
  }

  #tab-2 table tbody tr td {
    width: -webkit-calc(50% - 12px);
    width: calc(50% - 12px);
    display: inline-block;
    border-bottom: 0 !important;
    vertical-align: middle;
  }

  #tab-2 table tbody tr:nth-of-type(odd) td {
    border-bottom: 0 !important;
  }

  #tab-2 table tbody tr td span.hum {
    font-weight: bold;
    display: inline-block !important;
    padding-right: 6px;
  }

  #tab-2 table tbody tr td span.hum:after {
    content: ':';
  }

  #tab-2 table tbody tr td:nth-child(odd) {
    border-right: 0;
  }

  #tab-2 table tbody tr td:nth-child(4n+3), #tab-2 table tbody tr td:nth-child(4n+4) {
    border-bottom: 0 solid #000 !important;
  }
}
