
@font-face
{
	fontFamily: "Myriad Pro";
	fontStyle: italic;
	src: url("C:\WINDOWS\Fonts\MyriadPro-It.otf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro";
	fontWeight: bold;
	src: url("C:\WINDOWS\Fonts\MyriadPro-Bold.otf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: Calibri;
	fontWeight: bold;
	src: url("C:\WINDOWS\Fonts\CALIBRIB.TTF");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Century Gothic";
	fontWeight: bold;
	src: url("C:\WINDOWS\Fonts\GOTHICB.TTF");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Myriad Pro";
	src: url("C:\WINDOWS\Fonts\MyriadPro-Regular.otf");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: Calibri;
	fontWeight: bold;
	fontStyle: italic;
	src: url("C:\WINDOWS\Fonts\CALIBRIZ.TTF");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: Calibri;
	src: url("C:\WINDOWS\Fonts\CALIBRI.TTF");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "Century Gothic";
	src: url("C:\WINDOWS\Fonts\GOTHIC.TTF");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: Corbel;
	src: url("C:\WINDOWS\Fonts\CORBEL.TTF");
	embedAsCFF: true;
}
