body {
   margin: 0;
   padding: 0;
   background-color: #ffffff;
}

td.permission {
   padding: 20px 0 20px 0;
}

td.permission p {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 10px;
   font-weight: normal;
   color: #151515;
}

td.permission p a {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 10px;
   font-weight: normal;
   color: #a72323;
}

td.header {
   background-image: url('header.jpg');
   background-repeat: no-repeat;
   background-position: top center;
   background-color: #b62e2e;
   height: 130px;
}

td.header h1 {
   font-family: Georgia, serif;
   font-size: 30px;
   font-weight: normal;
   color: #333333;
   margin-left: 50px;
   margin-bottom: 24px;
}

table.content {
   background-color: #f5f5f5;
}

td.sidebar a {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #a72323;
   text-decoration: none;
}

td.sidebar ul {
   margin: 0 0 0 24px;
   padding: 0;
}

td.sidebar ul li,
td.sidebar ul li a {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #a72323;
}

td.sidebar h3 {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 16px;
   font-weight: bold;
   color: #333333;
   margin: 10px 0 14px 0;
   padding: 0;
}

td.sidebar h3.buttons {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 16px;
   font-weight: bold;
   color: #333333;
   margin: 0 0 4px 0;
   padding: 0;
}

td.sidebar h4 {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 13px;
   font-weight: bold;
   color: #333333;
   margin: 0 0 2px 0;
   padding: 0;
}

td.sidebar p {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #505050;
   margin: 0 0 13px 0;
   padding: 0;
}

td.sidebar p.buttons {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #505050;
   margin: 0 0 4px 0;
   padding: 0;
}

td.border {
   border-right: 2px solid #e0e0e0;
}

td.mainbar a {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #a72323;
   text-decoration: none;
}

td.mainbar h2 {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 16px;
   font-weight: bold;
   color: #a72323;
   margin: 0 0 4px 0;
   padding: 0 0 4px 0;
   border-bottom: 1px solid #cbcbcb;
}

td.mainbar h3 {
   font-family: Georgia, serif;
   font-size: 16px;
   font-weight: normal;
   color: #333333;
   margin: 10px 0 14px 0;
   padding: 0;
}

td.mainbar p {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #333333;
   margin: 0 0 16px 0;
   padding: 0;
}

td.mainbar p.top {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 10px;
   font-weight: bold;
   color: #a72323;
   margin: 0 0 30px 0;
   padding: 0;
}

td.mainbar p.top a {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 10px;
   font-weight: bold;
   color: #a72323;
}

td.mainbar ul {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #333333;
   margin: 0 0 20px 24px;
   padding: 0;
}

td.footer {
   padding: 20px 0 20px 0;
}

td.footer p {
   font-family: 'Lucida Grande', sans-serif;
   font-size: 10px;
   font-weight: normal;
   color: #151515;
}















