/* Variables and Classes ================================================================================================ */
@import url(../scripts/slicknav/css/slicknav.css);
.clearafter {
  content: '';
  display: block;
  clear: both; }

.vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.backface, .scroll-to-top {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Reset ================================================================================================ */
a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, small, span, strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, div, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

html, body {
  height: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

input {
  -webkit-appearance: none; }

/* Globals ================================================================================================ */
body {
  background: #fff; }

body, p, a, li, input, textarea, div {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #000;
  line-height: 22px; }

p {
  padding-bottom: 18px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rajdhani", sans-serif;
  line-height: normal;
  letter-spacing: 0 !important;
  text-transform: none !important;
  font-weight: bold; }

a {
  color: #2867ad;
  font-weight: bold; }

a:hover {
  color: #619ada;
  text-decoration: underline; }

a, input, textarea, button {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

input:focus, textarea:focus {
  border: 1px solid #bbb;
  background: #fff; }

/*li {list-style-image:url(../images/bullet.png)}*/
#sitewrap ol, #sitewrap ul {
  padding-bottom: 20px; }

#sitewrap ul li {
  list-style: disc;
  margin-left: 35px; }

#sitewrap ol li {
  list-style: decimal;
  margin-left: 35px; }

#sitewrap img {
  max-width: 100%; }

input, textarea {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #ddd;
  background: #fafafa;
  width: 96%;
  padding: 0 0 0 3%;
  line-height: 35px; }

input {
  height: 35px; }

#fancybox-overlay {
  background: rgba(40, 103, 173, 0.8) !important; }

.fancybox-outer {
  border-radius: 0 !important;
  background: #2867ad !important; }

.d7h4jf94h {
  position: absolute !important;
  border: 0 !important;
  background: rgba(255, 255, 255, 0) !important;
  color: transparent !important;
  left: -999999999px !important; }

.clear {
  clear: both;
  font-size: 0;
  line-height: 0; }

.hidden {
  display: none; }

/*hide until mobile*/
.hum {
  display: none !important; }

@media screen and (max-width: 1012px) {
  /*mobile hide*/
  .mh {
    display: none !important; }
  .hum {
    display: block !important; }
  #sitewrap ul, #sitewrap ol {
    padding-left: 8%; }
  #sitewrap ul li, #sitewrap ol li {
    text-align: left;
    margin-left: 0; } }

/* Buttons ================================================================================================ */
.buttons {
  display: inline-block;
  height: 70px;
  max-height: 70px;
  padding: 0 30px 0 30px;
  font-size: 23px;
  line-height: 68px;
  background: #6fba30;
  font-family: "Rajdhani", sans-serif;
  color: #fff;
  font-weight: normal;
  text-decoration: none !important;
  padding: 0;
  text-align: center;
  border-radius: 5px; }

.buttons:hover {
  background: #2867ad;
  color: #fff; }

/* Site ================================================================================================ */
.sitewidth {
  width: 980px;
  margin: 0 auto;
  position: relative; }

@media screen and (max-width: 1260px) {
  .sitewidth {
    width: 940px; } }

@media screen and (max-width: 1012px) {
  .sitewidth {
    width: 90%;
    margin: 0 auto; } }

/* Header ================================================================================================ */
header#header {
  width: 100%;
  height: 106px;
  position: relative;
  background: #252525; }

#headerwidth {
  width: 990px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: url(../images/headerbg.png) no-repeat -140px center; }

#headerwidth div {
  color: #aaaaaa;
  font-size: 21px;
  line-height: 24px;
  position: absolute;
  top: 40px;
  left: 340px; }

.logo {
  width: 262px;
  height: 75px;
  display: block;
  position: absolute;
  left: 0;
  top: 16px; }

@media screen and (max-width: 1012px) {
  header#header {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
  #headerwidth {
    width: 100%;
    background: none; }
  .logo {
    position: relative;
    top: inherit;
    left: inherit;
    display: inline-block; }
  #headerwidth div {
    position: relative;
    top: inherit;
    left: inherit; } }

/* Footer ================================================================================================ */
.scroll-to-top {
  position: fixed;
  background: url(../images/backtotop.png) no-repeat 50% 44% rgba(228, 30, 56, 0.7);
  cursor: pointer;
  width: 45px;
  height: 40px;
  bottom: 10px;
  right: 18px;
  display: none;
  z-index: 999;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 0; }

.scroll-to-top:hover {
  background-color: #e41e38; }

footer {
  background: url(../images/footerbg.jpg) center bottom;
  padding-top: 50px;
  padding-bottom: 55px;
  text-align: center; }

footer p {
  padding-bottom: 0;
  color: #8a8a8a; }

@media screen and (max-width: 1012px) {
  .scroll-to-top {
    display: none !important; } }

@media screen and (max-width: 767px) {
  footer p {
    font-size: 11px; } }

/* Editor Fixes ================================================================================================ */
.is-cms .parallax {
  height: 500px !important; }

/*--------------------------------------------------------------
                  PRELOADED BACKGROUND IMAGES
---------------------------------------------------------------*/
body:after {
  display: none !important;
  /*content:url(../images/XXXXXXXXXXXXX.png) url(../images/XXXXXXXXXXXXX.png);*/ }
