.campaign_slide_content { width: 100% }

.campaign_slide_content #box1 {
  background: url(../images/bg1.jpg) center center;
  background-size: cover;
}

.campaign_slide_content .sitewidth {
  width: 980px;
  margin: 0 auto;
}

.campaign_slide_content #b1content {
  width: 600px;
  padding-top: 70px !important;
  padding-bottom: 30px !important;
  font-family: "Rajdhani" !important;
}

.campaign_slide_content #b1content h1 {
  font-family: "Rajdhani" !important;
  font-size: 130px;
  line-height: 130px;
  color: #fff;
  padding-top: 70px !important;
  padding-bottom: 30px !important;
  letter-spacing: 0 !important;
  font-weight: bold;
}

.campaign_slide_content #b1content h1 span {
  font-family: "Rajdhani";
  color: #cfcfd1;
  font-size: 49px;
  line-height: 49px;
  display: block;
  font-weight: bold;
}

.campaign_slide_content #b1content p, .campaign_slide_content #b1content ul  {
  color: #fff;
  line-height: 22px;
  padding-bottom: 18px;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.campaign_slide_content ul {
	list-style: disc;
    margin-left: 35px;
	color: #fff;
    padding-bottom: 20px;
}

.campaign_slide_content #box3 {
  background: url(../images/bg3.jpg);
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}


.campaign_slide_content #box3 h2 {
  font-family: "Rajdhani" !important;
  font-size: 48px !important;
  line-height: 48px !important;
  color: #252525 !important;
  font-weight: 700 !important;
}

.campaign_slide_content #box3 h3 {
  font-family: "Rajdhani" !important;
  font-size: 24px !important;
  line-height: 28px !important;
  color: #818181 !important;
  font-weight: 600 !important;
}

.campaign_slide_content .boxtype1 {
  background: url('../images/image3.jpg');
  background-repeat: no-repeat;
}

.campaign_slide_content .boxtype1 .sitewidth {
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 400px;
}

.campaign_slide_content .boxtype1content {
	width: 500px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 2;
}

#campaign_div .campaign_slide_content .boxtype1content h2 {
  font-family: "Rajdhani" !important;
  font-size: 36px !important;
  line-height: 36px !important;
  color: #252525 !important;
  font-weight: 700 !important;
  padding-bottom: 30px;
}

.campaign_slide_content .boxtype1content p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-bottom: 18px;
  line-height: 22px;
  color: #252525;
}
.campaign_slide_content .boxtype1content ul {
  padding-bottom: 20px;
  list-style: none;
  color: #000;
  list-style: disc;
}

.campaign_slide_content .boxtype2 {
  text-align: left;
  background: url(../images/pattern1.png);
}

#campaign_div .campaign_slide_content .sitewidth {
	padding-top: 90px;
	padding-bottom: 90px;
}

#campaign_div .campaign_slide_content .boxtype2content {
	width: 500px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
    z-index: 2;
}

#campaign_div .campaign_slide_content .boxtype2content h2 {
  font-family: "Rajdhani" !important;
  font-size: 36px !important;
  line-height: 36px !important;
  color: #fff !important;
  font-weight: 700 !important;
  padding-bottom: 30px;
}

.campaign_slide_content .boxtype2 p {
  color: #fff;
  padding-bottom: 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 22px;
}

.campaign_slide_content .callout {
    text-align: center;
	background: url(../images/bg4.jpg);
}

#campaign_div .campaign_slide_content .callout h2 {
  font-size: 28px !important;
  line-height: 33px !important;
  color: #fff !important;
  font-family: "Oswald", sans-serif !important;
  font-weight: 400 !important;
}

#campaign_div .campaign_slide_content .callout  a {
  display: inline-block;
  vertical-align: top;
  padding: 10px 24px 10px 24px;
  border-radius: 20px;
  color: #e41e38;
  text-decoration: none;
  background: #e7e7e5;
  margin-top: 15px;
  font-weight: bold;
}

#campaign_div .campaign_slide_content .callout  a:hover {
  color: #252525;
}

#campaign_div .campaign_slide_content .boxtype-3 img {
	margin-right: 50px;
}

#campaign_div .campaign_slide_content .boxtype-7 {
  background: url(../images/image9.jpg) no-repeat;
}

#campaign_div .boxleft {
    display: block;
    background-color: #fff;
    margin: -5px;
}
#campaign_div .boxleftimage {
    display: inline-block;
}
#campaign_div .boxlefttext {
    display: inline-block;
	vertical-align: top;
	padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 40px;
    width: 600px;
}
#campaign_div .boxlefttext h2 {
  font-family: "Rajdhani" !important;
  font-size: 36px !important;
  line-height: 36px !important;
  color: #252525 !important;
  font-weight: 700 !important;
  padding-bottom: 30px;
}

#campaign_div .boxlefttext p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-bottom: 18px;
  line-height: 22px;
  color: #252525;
}
#campaign_div .boxlefttext ul {
  padding-bottom: 20px;
  list-style: none;
  color: #000;
  list-style: disc;
}
